.main-container {
    display: flex;

    // position: absolute;
    // flex-direction: column;
    position: sticky;
    top: 0;
  }
  /* Sidebar */
.sidebar {
    // background: rgb(0, 7, 61);
    // background: #29363D;
    background:#3F5289;
    color: #D7DBE7;
    // color: rgb(53, 49, 49);
    // height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
  }

.active{
    // border-right: 4px solid #fff;
    border-right: 4px solid gray;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    // background: rgb(45, 51, 89 );
    background: rgb(182, 209, 224);
}
.routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.logo{ 
    font-size: 18px;
    line-height: 0;
}
.bars {
    font-size: 25px;
  }

.search_icon{
    font-size: 25px;

}

.hide {
    display: none;
}
.search{
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
}

.search input{
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background:rgb(238, 238, 238);
}

.link{
    display: flex;
    // color: white;
    // color: rgb(53, 49, 49);
    color: #D7DBE7;
    gap: 10px;
    padding: 5px 10px ;
    margin-bottom: 2px;
    margin-top: 2px;
    text-decoration: none;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover{
    border-right: 4px solid #fff;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    // background: rgb(45, 51, 89 );
    background: rgb(182, 209, 224);

}

.link_text{
    white-space: nowrap;
    font-size: 15px;
    align-items: center;
    margin-top: 3px;
}
.icon{

    white-space: nowrap;
    font-size: 25px;
}
.menu{
    display: flex;
    // color: white;
    color: rgb(53, 49, 49);
    font: bold;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;

}

.menu_item{
    display: flex;
    gap: 10px;

    // margin-bottom: 5px;
}

.menu-container{
    display: flex;
    flex-direction: column;
}

.menu-container .link{
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
}

a {
    text-decoration: none;
}