.main {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color:#F3F3F8;
}
.layout {
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 7vh;
  // display: relative;
  box-shadow: 0 0 1px gray;
  background-color: #00073d;
  // margin-left: 200px;
  // overflow-y: hidden;

  // border-radius: 5px;
}
.body {
  height: 85vh;
  margin: 15px;
  // margin-left: 200px;
  // position: fixed;
  box-shadow: 0 0 1px gray;
  background-color: white;
  border-radius: 5px;
  // overflow-y: auto;

}
.logo h4 {
  font-size: 1.5rem;
  font-width: bold;
  /* text-align: start; */
  margin: 20px 20px;
}
