.main {
  margin: 0;

  padding: 0;
  height: 100vh;
  background-color: #f8f9fa;
}
.layout {
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 9vh;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0 1px gray;
  background-color: white;
  border-radius: 5px;
}
.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 1px gray;
  background-color: white;
  border-radius: 5px;
}
.logo h4 {
  font-size: 1.5rem;
  font-width: bold;
  /* text-align: start; */
  margin: 20px 20px;
}
.menu {
  margin-top: 50px;
}
.menu-item {
  margin-top: 30px;
}
.menu-item a {
  color: #212529;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.menu-item i {
  box-shadow: 0 0 1px gray;
  background-color: #f8f9fa;

  font-size: 1rem;
  margin: 0 15px;
}
.active {
  background-color: white;
  padding: 10px;
}
.active a,
.active i {
  color: #386cf0;
}
